.page {
  background-color: #FFFFFF;
  text-align: left;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  font-size: 1rem;
}

/* General */
.section__subtitle {
  margin: 5px 0;
  font-family: 'Acme', sans-serif;
  font-size: 1.2rem;
}

.icon {
  padding-right: 10px;
}

/* header */
.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile__img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 100px;
}

.profile__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.profile__title {
  margin: 0;
  font-family: 'Marko One', serif;
  font-size: 2.5rem;
}

.profile__subtitle {
  margin: 0;
  font-family: 'Kalam', cursive;
  font-size: 1.2rem;
}

.profile__text {
  margin: 0;
}

/* main */
.content__separator {
  border-top: 3px double #8c8b8b;
  margin: 5px 0;
}

/* contact-info section */
.contact-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.contact-info__subtitle{
  margin: 0;
  font-family: 'Kalam', cursive;
  font-size: 1.2rem;
}

.contact-info__personal-details-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 40px;
}

.contact-info__link {
  text-decoration: none;
  color: black;
}

.contact-info__link:hover {
  color: #FF6B6B;
}

/* education-info section */
.education-info__education-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 40px;
}

.education-info__education-list-item {
  display: flex;
  margin-bottom: 10px;
}

.education-info__education-list-item:last-child {
  margin-bottom: 0;
}

.education-info__years {
  margin: 0;
  align-self: center;
  flex-basis: 80px;
}

.education-info__studies-description {
  margin: 0 0 0 30px;
}

.education-info__studies-subject {
  margin: 0;
  font-size: 1rem;
}

.education-info__studies-framework {
  margin: 0 0 0 40px;
}

/* volunteering section */
.volunteering__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 40px;
}

.volunteering__list-item {
  display: flex;
  margin-bottom: 10px;
}

.volunteering__list-item:last-child {
  margin: 0;
}

.volunteering__years {
  margin: 0;
  align-self: center;
  flex-basis: 80px;
}

.volunteering__description {
  margin: 0 0 0 30px;
}

.volunteering__framework {
  margin: 0;
  font-size: 1rem;
}

.volunteering__responsibilities {
  margin: 0;
  padding: 0 40px;
}

/* skills section */
.skills__list {
  list-style: none;
  margin: 0 40px;
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.skills__list-item {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.skills__skill-subject {
  margin: 0 30px 0 0;
  font-size: 1rem;
}

.skill__skill_level {
  margin: 0;
}

/* work-info section */
.work-info__work-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 0 40px;
}

.work-info__work-list-item {
  display: flex;
  padding-bottom: 10px;
}

.work-info__work-list-item:last-child {
  padding-bottom: 0;
}

.work-info__years {
  flex-basis: 80px;
  margin: 0;
  align-self: center;
}

.work-info__work-description {
  margin: 0 0 0 30px;
}

.work-info__work-place {
  margin: 0;
}

.work-info__job-title {
  margin: 0;
  font-size: 1rem;
}

.work-info__responsibilities {
  margin: 0 0 0 40px;
}

/* languages section */
.languages__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.languages__list-item {
  margin: 5px 0;
  display: flex;
}

.languages__list-item:last-child {
  margin: 0;
}

.languages__language {
  margin: 0;
  flex-basis: 80px;
  font-size: 1rem;
}

.languages__level {
  margin: 0 0 0 30px;
}

/* interests section */
.interests__description {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.interests__subject {
  margin: 0;
}

.interests__link {
  text-decoration: none;
  color: black;
}

.interests__link:hover {
  color: #FF6B6B;
}

/* value section  */
.value__description {
  margin: 0 0 0 40px;
}
